@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Create Role</p>
                <div class="forms-sample">
                    <div class="form-group row ">


                        <div class="col">
                            <label for="FunctionName">Role Name</label>
                            <input type="text" class="form-control" id="functionName"
                                   placeholder="Role Name">
                        </div>

                    </div>

                    <button class="btn btn-light mr-2" onclick="location.href='@Url.Action("ManageRole", "Role")'">Cancel</button>
                    <button type="submit" class="btn btn-primary ">Submit</button>

                </div>
            </div>
        </div>

    </div>
</div>