@model DAL.Models.SPG_ROLE;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMsg = TempData["ErrorMsg"] as string;
}
@using (Html.BeginForm("SaveRole", "Role", Model, FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Create Role</p>
                    <div class="forms-sample">
                        <div class="form-group row ">
                            <div class="col">
                                <label for="RoleName">Role Name<span style="color:red">*</span></label>
                                @Html.TextBoxFor(m => m.ROLE_NAME, new { @class = "form-control", @id="roleName", @placeholder = "Role Name"})
                                <span id="roleNameError" class="text-danger" style="display:none;"></span>
                            </div>
                            <div class="col">
                                <label for="activeFlag">Active Flag</label>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                               id="activeFlag" name="ACTIVE_FLAG" class="form-check-input"
                                               checked="@(Model?.ACTIVE_FLAG == "Y" ? true : false)">
                                    </label>
                                </div>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(errorMsg))
                        {
                            <script>
                                alert('@errorMsg');
                            </script>
                        }
                        <button class="btn btn-light mr-2" id="cancelButton">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="saveBtn" >Save</button>

                    </div>
                </div>
            </div>
    </div>
</div>
}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/assists/js/hoverable-collapse.js"></script>
<script>
    $(document).ready(function () {
        $("form").submit(function (e) {
            var roleName = $('#roleName').val();
            if ($.trim(roleName) == '') {
                e.preventDefault(); 
                $('#roleNameError').html('Role name is required.').show(); 
            } else {
                $('#roleNameError').hide(); 
            }
        });

        $('#cancelButton').click(function (e) {
            e.preventDefault();
            location.href = '@Url.Action("ManageRole", "Role")';
        });
    });
</script>