@model DAL.Models.SPG_SUBFUNCTION
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMsg = TempData["ErrorMsg"] as string;
}
@using (Html.BeginForm("SaveFunction", "Function",Model, FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Create Function</p>
                    <div class="forms-sample">
                        <div class="form-group row ">

                            <div class="col">
                                <label for="Country">Country<span style="color:red">*</span></label>
                                <select asp-for="COUNTRY_NAME" class="form-control" name="COUNTRY_NAME" id="Country">
                                    <option selected disabled>Select a Country</option>
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option value="@country">@country</option>
                                    }
                                </select>
                                <span id="CountryError" class="text-danger" style="display:none;font-size:10px"></span>

                            </div>
                            <div class="col">
                                <label for="FunctionName">Function<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="functionName"
                                       name="FUNCTION_NAME" value="@Model?.FUNCTION_NAME"
                                       placeholder="Function Name" maxlength="30" onkeydown="return event.key === ' ' ? this.value.length > 0 && this.value[this.value.length - 1] !== ' ' : /[a-zA-Z]/i.test(event.key)">
                                <span id="FunctionNameError" class="text-danger" style="display:none;font-size:10px"></span>

                            </div>
                            <div class="col">
                                <label for="subFunctionName">Sub Function<span style="color:red">*</span></label>
                                @if (Model != null)
                                {
                                @Html.HiddenFor(m => m.SUBFUNCTION_ID)
                                }
                                <input type="text" class="form-control" id="subFunctionName"
                                       name="SUBFUNCTION_NAME" value="@Model?.SUBFUNCTION_NAME"
                                       placeholder="Sub function name" maxlength="30" onkeydown="return event.key === ' ' ? this.value.length > 0 && this.value[this.value.length - 1] !== ' ' : /[a-zA-Z]/i.test(event.key)">
                                <span id="SubFunctionNameError" class="text-danger" style="display:none;font-size:10px"></span>

                            </div>
                            <div class="col">
                                <label for="activeFlag">Active Flag</label>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                               id="activeFlag" name="ACTIVE_FLAG" class="form-check-input"
                                                checked >
                                    </label>
                                </div>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(errorMsg))
                        {
                            <script>
                                alert('@errorMsg');
                            </script>
                        }
                        <button type="button" class="btn btn-light mr-2" onclick="location.href='@Url.Action("Function", "Function")'">Cancel</button>

                        <button type="submit" name="Command" value="Save" class="btn btn-primary">Save</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/assists/js/hoverable-collapse.js"></script>

<script>
    $("form").submit(function () {
        var isValid = true;

        var countryName = $('#Country').val();
        var functionName = $('#functionName').val();
        var subFunctionName = $('#subFunctionName').val();

        if ($.trim(countryName) == '') {
            $('#CountryError').html('Country Name is required.').show();
            isValid = false;
        } else {
            $('#CountryError').hide();
        }

        if ($.trim(functionName) == '') {
            $('#FunctionNameError').html('Function Name is required.').show();
            isValid = false;
        } else {
            $('#FunctionNameError').hide();
        }

        if ($.trim(subFunctionName) == '') {
            $('#SubFunctionNameError').html('Sub function name is required.').show();
            isValid = false;
        } else {
            $('#SubFunctionNameError').hide();
        }

        return isValid;
    });
</script>
