@{
    ViewData["Title"] = "Home Page";
}


    
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                <div class="row">
                <div class="col">
                    <div class="welcome">
                        <p class="txt-wel">Welcome to</p>
                        <p class="txt-sponge">SPONGE</p>
                        <p class="txt-app">a Data Collection Application</p>
                    </div>
                </div>
                <div class="col text-right">
                    <img src="assists/images/home/img-datacolletion01.png" width="501"
                         height="500" class="img-welcome" alt="">
                </div>
                    </div>
                </div>
        </div>
            </div>

        </div>

   
