@model IEnumerable<Sponge.ViewModel.SubjectArea>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Create Subject Area</p>
                <form class="forms-sample">
                    <div class="form-group row ">

                        <div class="col">
                            <label for="function">Function</label>
                            <select class="form-control" id="function">
                                <option selected>Select</option>
                                <option value="1">Operations</option>
                                <option value="2">Sales</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="subfunction">Sub Function</label>
                            <select class="form-control" id="subfunction">
                                <option selected>Select</option>
                                <option value="1">Quality</option>
                                <option value="2">Sales</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="subjectArea">Subject Area Name</label>
                            <input type="text" class="form-control" id="subjectArea" />
                        </div>
                    </div>
                    <div class="form-group row">


                        <div class="col">
                            <label for="reportperiod">Report Period</label>
                            <select class="form-control" id="reportperiod">
                                <option selected>Select</option>
                                <option value="1">Current</option>
                                <option value="2">Next</option>
                                <option value="2">Previous</option>
                            </select>

                        </div>

                        <div class="col-sm-4">
                            <label for="frequency">Frequency</label>
                            <select class="form-control" id="frequency">
                                <option selected>Select</option>
                                <option value="1">Yearly</option>
                                <option value="2">Half Yearly</option>
                                <option value="2">Quarterly</option>
                                <option value="2">Monthly</option>
                                <option value="2">Weekly</option>
                                <option value="2">Daily</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="forTime">For Time</label>
                            <select class="form-control" id="fortime">
                                <option selected>Select</option>
                                <option value="1">Yearly</option>
                                <option value="2">Half Yearly</option>
                                <option value="2">Quarterly</option>
                                <option value="2">Monthly</option>
                                <option value="2">Weekly</option>
                                <option value="2">Daily</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="active">Active</label>
                            <select class="form-control" id="active">
                                <option selected>Select</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="Version">Version</label>
                            <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label">

                                    <input type="checkbox"
                                           id="version" class="form-check-input">
                                </label>
                            </div>
                        </div>

                    </div>


                    <button type="button" class="btn btn-light mr-2" onclick="location.href='@Url.Action("ManageSubjectArea", "SubjectArea")'">Cancel</button>

                    <button type="submit" class="btn btn-primary ">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

