@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <p class="card-title">
                    Manage SubjectArea <a href="@Url.Action("CreateSubjectArea")">
                        <svg viewBox="0 0 24 24"
                             width="24" height="24" stroke="currentColor" stroke-width="2"
                             fill="none" stroke-linecap="round" stroke-linejoin="round"
                             class="css-i6dzq1">
                            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                            </path>
                            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                            </path>
                        </svg>
                    </a>
                </p>
                <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width:100%">
                        <thead>
                            <tr>

                                <th>Sub Function Name</th>
                                <th>SubjectArea Name</th>
                                <th>Reporting Period </th>
                                <th>Frequency</th>
                                <th>ForTime</th>
                                <th>Active</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Quality</td>
                                <td>Primary Sales Business Plan- Brand</td>
                                <td>Next</td>
                                <td>Yearly</td>
                                <td>Monthly</td>
                                <td>Y</td>
                                <td>
                                    <button type="button"
                                            class="btn btn-outline-primary btn-icon-text">
                                        <i class="ti-file btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                </td>
                            </tr>
                            <tr>

                                <td>Quality</td>
                                <td>Primary Sales Business Plan- Pack</td>
                                <td>Next</td>
                                <td>Yearly</td>
                                <td>Monthly</td>
                                <td>Y</td>
                                <td>
                                    <button type="button"
                                            class="btn btn-outline-primary btn-icon-text">
                                        <i class="ti-file btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Plugin js for this page -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    new DataTable('#example', {
        order: [[3, 'desc']]
    });
    //Initialize the Multiselect Dropdown:

</script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/assists/js/hoverable-collapse.js"></script>
<script src="~/assists/js/template.js"></script>

<!-- endinject -->
<script>
    const chBoxes = document.querySelectorAll('.dropdown-menu input[type="checkbox"]');
    const dpBtn = document.getElementById('multiSelectDropdown');
    let mySelectedListItems = [];

    function handleCB() {
        mySelectedListItems = [];
        let mySelectedListItemsText = '';

        chBoxes.forEach((checkbox) => {
            if (checkbox.checked) {
                mySelectedListItems.push(checkbox.value);
                mySelectedListItemsText += checkbox.value + ', ';
            }
        });

        dpBtn.innerText =
            mySelectedListItems.length > 0
                ? mySelectedListItemsText.slice(0, -2) : 'Select';
    }

    chBoxes.forEach((checkbox) => {
        checkbox.addEventListener('change', handleCB);
    });
</script>
<!-- <script src="assists/js/virtual-select.min.js"></script>
<script>
    VirtualSelect.init({
        ele: 'select'
    });
</script> -->
