@model List<Sponge.ViewModel.ApprovalModel>

@using (Html.BeginForm("save", "Approval", Model, FormMethod.Post))
{
    <div class="row" id="ApprovalGrid">
        <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">My Approvals</p>
                    <div class="forms-sample">
                        <div class="form-group row ">
                            <div class="col">
                                <label for="Search">Remarks</label>
                                <input type="text"  class="form-control" id="" placeholder="type here...">
                            </div>
                            <div class="col btn-align">
                                <button type="submit" id="btnApprove" class="btn btn-primary">Approve</button>
                                <button type="submit" id="btnReject" class="btn btn-primary">Reject</button>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="example" class="display expandable-table" style="width:100%">
                            <thead>
                                <tr>

                                    <th><input type="checkbox" id="selectAll"> Select All</th>
                                    <th>Assigned User</th>
                                    <th>Subject Area Name </th>
                                    <th>Upload Date</th>
                                    <th>File Name</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0)
                                {
                                    // Code to display rows for each item in Model
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" style="text-align:center">No Data Available</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function Checked() {
        var checkedVals = $('.chkClass:checkbox:checked').map(function () {
            return this.value;
        }).get();
        //alert(checkedVals.join(","));
        if (checkedVals == undefined || checkedVals == null || checkedVals == "") {
            $('#btnApprove').attr('disabled', 'disabled');
            $('#btnReject').attr('disabled', 'disabled');
            //alert("Please select atleast one check box for proceed.")
            //return true;
        }
        else {
            $('#btnApprove').removeAttr('disabled');
            $('#btnReject').removeAttr('disabled');
        }

    }
    $(document).ready(function () {
        $('#ApprovalGrid').DataTable();
    });

    function DownLoadTemplate(configId, documentId) {
        //debugger;

        var application = window.location.pathname.substr(1, window.location.pathname.lastIndexOf('/'));
        var url = "http://" + window.location.host + "/" + application + '/Download?documentId=' + documentId + "&configId=" + configId;
        window.location.href = url;
    }
</script>