.dataTables_wrapper .dataTables_length label {
    display: flex;
    align-items: center;
}

    .dataTables_wrapper .dataTables_length label select {
        height: 26px;
    }

/* .dataTables_wrapper .dataTables_filter{

} */
.dataTables_wrapper .dataTable .btn {
    padding: 0.875rem 1.5rem !important;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:after {
    opacity: .9;
}

.bth-custom-multi {
    width: 100%;
    border: 1px solid #CED4DA;
    background-color: #fff;
    text-align: left;
}

    .bth-custom-multi + .dropdown-menu {
        width: 100%;
    }

    .bth-custom-multi.dropdown-toggle:after {
        margin-left: auto;
        margin-right: 0px;
        text-align: right;
        position: absolute;
        right: 17px;
    }

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

    .welcome img {
        margin-bottom: 40px;
        width: 250px;
        height: auto;
    }

    .welcome h1 {
        margin-bottom: 16px;
    }

    .welcome p {
        font-size: 1rem;
    }

.form-check-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid var(--txtboxborder);
    border-radius: 4px;
    padding: 0.4375rem 0.75rem;
}

    .form-check-row > label {
        display: block;
        width: 100%;
    }

    .form-check-row .form-check {
        margin-right: 15px;
    }

#file-input {
    display: none;
}

.mt-15 {
    margin-top: 15px;
}

#drop-area {
    border: 2px dashed #3498db;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-fileinput {
    display: flex;
    flex-direction: column;
    line-height: 22px;
    align-items: center;
}

#file-list {
    text-align: left;
    margin-top: 24px;
}

    #file-list ul {
        list-style: none;
        padding: 0;
    }

    #file-list li {
        margin-bottom: 5px;
    }

.txt-red {
    color: var(--brandcolor);
}

table.dataTable thead tr th {
    white-space: nowrap;
}

.btn-align {
    margin-top: 24px;
}

/** Multiselect Dropdown **/
/****************************************************************************/
.multiselect {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-box {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

    .select-box:focus {
        border: 1px solid #007BFF;
    }

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
}

.wrapper-multiselect {
    display: flex;
    flex-direction: column;
}

.option {
    padding: 8px;
    cursor: pointer;
}

    .option:hover {
        background-color: #f0f0f0;
    }

.checkbox {
    display: inline-block;
    width: 20px;
}

/** End Multiselect Dropdown **/

/** Multiselect Left to Right **/
/****************************************************************************/
.select-lr {
    height: 250px !important;
}

.wrapper-btn-lr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/** End Multiselect Left to Right **/

.cta-wrapper {
    margin-top: 20px;
}

.form-control:disabled, .asColorPicker-input:disabled, .dataTables_wrapper select:disabled, .jsgrid .jsgrid-table .jsgrid-filter-row input:disabled[type=text],
.jsgrid .jsgrid-table .jsgrid-filter-row select:disabled, .jsgrid .jsgrid-table .jsgrid-filter-row input:disabled[type=number], .select2-container--default .select2-selection--single:disabled, .select2-container--default .select2-selection--single .select2-search__field:disabled, .typeahead:disabled,
.tt-query:disabled,
.tt-hint:disabled, .form-control[readonly], .asColorPicker-input[readonly], .dataTables_wrapper select[readonly], .jsgrid .jsgrid-table .jsgrid-filter-row input[readonly][type=text],
.jsgrid .jsgrid-table .jsgrid-filter-row select[readonly], .jsgrid .jsgrid-table .jsgrid-filter-row input[readonly][type=number], .select2-container--default .select2-selection--single[readonly], .select2-container--default .select2-selection--single .select2-search__field[readonly], .typeahead[readonly],
.tt-query[readonly],
.tt-hint[readonly] {
    font-weight:bold;
}
.table-responsive {
    margin-bottom:16px;
}

.form-check .form-check-label {
    margin-bottom:0px;
}