
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Setup</p>
                <div class="forms-sample">
                    <div class="form-group row ">
                        <div class="col">
                            <label for="assetMaster">Assigned To</label>
                            <input type="text" class="form-control" id="assetMaster"
                                placeholder="Annu" readonly style="font-display:block; font-style:normal">
                        </div>
                        <div class="col">
                            <label for="subjectAreaName">Subject Area Name</label>
                            <input type="text" class="form-control" id="subjectAreaName"
                                placeholder="Primary Sales Business Plan-Pack" readonly>
                        </div>
                        <div class="col">
                            <label for="frequency">Frequency</label>
                            <input type="text" class="form-control" id="frequency"
                                placeholder="Yearly" readonly>
                        </div>
                        <div class="col">
                            <label for="frequency">ForTime</label>
                            <input type="text" class="form-control" id="fortime"
                                   placeholder="Monthly" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="active">Active</label>
                            <select class="form-control">
                                <option selected>Select</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>                                            
                        <div class="col">
                            <label for="scheduled">Scheduled</label>
                            <select class="form-control" id="Scheduled">
                                <option selected>Select</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                        </div>

                        <div class="col">
                            <label for="lockDate">Lock Date</label>
                            <input type="text" class="form-control" id="lockDate" placeholder="15">days after template generation date
                        </div>                                            
                    </div>
                   
                    <div class="form-group row" id="IsScheduled" style="display:none">

                        <div class="col">
                            <label for="scheduled">Day</label>
                            <input type="text" class="form-control" id="datewhich" placeholder="29" readonly>day when template generated
                       </div>
                        <div class="col">
                            <label for="lockDate">Upload Reminder Date</label>
                            <input type="text" class="form-control" id="uploadreminder" placeholder="12" readonly>days after template generation date
                        </div>
                        <div class="col">
                            <label for="EscalationDate">Escalation  Date</label>
                            <input type="text" class="form-control" id="Escalation" placeholder="13" readonly>days after template generation date
                        </div>
                    </div>
                    <h6 class="mt-5 mb-3">Add Approver Details</h6>
                    <div class="form-group row">
                        <div class="col">
                            <label for="approverID">Approver Email ID</label>
                            <input type="text" class="form-control" id="approverID"
                                   placeholder="navagarwal@coca-cola.com">
                        </div>
                        <div class="col btn-align">
                            <button class="btn btn-primary">Get Approver Info</button>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="approverName">Approver Name</label>
                            <input type="text" class="form-control" id="approverName" placeholder="Navni Agarwal "
                             readonly>
                        </div>
                        <div class="col">
                            <label for="approverEmailID">Approver ID</label>
                            <input type="email" class="form-control" id="approverEmailID" placeholder="Z08233"
                                 readonly>
                        </div>                                            
                    </div>
                    <button class="btn btn-light mr-2">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                
            </div>
        </div>
    </div>

</div>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#Scheduled").change(function () {
            debugger;
            var Scheduled = $(this).val();
           if (Scheduled=="Y")
           {
                $("#IsScheduled").show();

            }
            else 
            {
                $("#IsScheduled").hide();
            }
        });
    });
    

</script>