@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Create Function</p>
                <div class="forms-sample">
                    <div class="form-group row ">

                        <div class="col">
                            <label for="Country">Country</label>
                            <select class="form-control">
                                <option selected>Select Country</option>
                                <option value="1">India</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="FunctionName">Function Name</label>
                            <input type="text" class="form-control" id="functionName"
                                   placeholder="Function Name">
                        </div>
                        <div class="col">
                            <label for="subFunctionName">Subfunction</label>
                            <input type="text" class="form-control" id="subFunctionName"
                                   placeholder="Sub function name">
                        </div>
                        <div class="col">
                            <label for="activeFlag">Active Flag</label>
                            <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label">
                                    <input type="checkbox"
                                           id="activeFlag" class="form-check-input">
                                </label>
                            </div>
                        </div>
                    </div>
                 
                    <button class="btn btn-light mr-2" onclick="location.href='@Url.Action("ManageFunction", "Home")'">Cancel</button>
                    <button type="submit" class="btn btn-primary ">Submit</button>
                  
                </div>
            </div>
        </div>

    </div>
</div>