@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveUsers", "ConfigureSubjectArea", FormMethod.Post))
{
<div class="row">
    <div class="col-md-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Assign Users</p>
                <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="=Select">
                                </th>
                                <th>User Name</th>
                            </tr>
                        </thead>
                        <tbody>                        
                           
                            <tr>
                                <td>
                                </td>
                                
                            </tr>                           
                           
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-light mr-2">Cancel</button>
                <button type="submit" class="btn btn-primary ">Save</button>
            </div>
        </div>
    </div>
</div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.get('@Url.Action("GetUserList", "ConfigureSubjectArea")', function (usernames) {
            var tableBody = $("#example tbody");
            usernames.forEach(function (username) {
                var row = `
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedUsers" value="${username}">
                            </td>
                            <td>${username}</td>
                        </tr>
                    `;
                tableBody.append(row);
            });
        });
    });
</script>