@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Manage Master </p>
                <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Masters</th>
                                <th>Field Name</th>
                                <th>Display Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i <= 5; i++)
                            {
                                <tr>
                                    <td>
                                        <select class="form-control">
                                            <option selected>Select Master</option>
                                            @foreach (var f in ViewBag.SPG_MASTER)
                                            {
                                                <option value="@f.Value">@f.Text</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" id="fieldName">
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="displayName" placeholder="Display Name">
                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                </div>
                <button class="btn btn-light mr-2" onclick="location.href='@Url.Action("ConfigureSubjectArea", "ConfigureSubjectArea")'">Cancel</button>
                <button type="submit" class="btn btn-primary ">Next</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="~/assists/js/hoverable-collapse.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('select.form-control').change(function () {
            var selectedMaster = $(this).val();
            var fieldNameDropdown = $(this).closest('tr').find('#fieldName');

            $.ajax({
                url: '@Url.Action("GetFieldName", "ConfigureSubjectArea")',
                type: 'GET',
                data: { masterName: selectedMaster },
                dataType: 'JSON',
                success: function (data) {
                    $(fieldNameDropdown).empty();
                    $.each(data, function (i, item) {
                        $(fieldNameDropdown).append('<option value="' + item.COLUMN_NAME + '">' + item.COLUMN_DISPLAY_NAME + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve field names.' + ex);
                }
            });
        });
    });
</script>