@model Sponge.ViewModel.GetUserinfo;

@{
    ViewData["Title"] = "Uploads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Upload Excel</p>
                
                    <form id="upload" enctype="multipart/form-data" action="@Url.Action("UploadExcelFiles", "Upload")" method="POST">
                        <div class="row">
                        <div class="col-sm-4 com-md-4"><input type="file" name="fileUpload" id="fileUpload" accept=".XlSX," multiple class="btn btn-default btn-file"></div>
                            <div class="col-sm-8 com-md-8">
                            <div id="dvFilesDetails"></div>
                            <br />
                            <div id="dvErrorDetails"></div>
                            <br />
                            <div id="dvWarningDetails"></div>
                            </div>
                        </div>
                        
                        

                        <div class="row" align="center">
                            <button class="btn btn-light mr-2" id="BtnCancel" >Cancel</button>
                            <button type="submit" class="btn btn-primary" id="BtnUpload" >Upload</button>
                        </div>
                        <div id="dvUploadExcelDetails"></div>
                        <input id='filesToDelete' name='filesToDelete' type='hidden' />
                    </form>
                
            </div>
        </div>
    </div>
</div>

<!-- Plugin js for this page -->
<!--Start Upload js Function-->
<script type="text/javascript">
    var Filelist = new Array;
    debugger;
    $(function () {
        $('#BtnCancel').click(function () {
            location.reload(true);
        });
        $('#fileUpload').change(function () {
            //alert($(this).val());
            $("#dvErrorDetails").html('');
            $("#dvFilesDetails").html('');

            var NumberofFile1 = $(this).val().split(',');
            var NumberofFile = NumberofFile1.length;
            if (NumberofFile > 10) {
                alert("Only ten files are allowed to upload at time.");
                if (browser.version <= 9) {
                    document.getElementById('BtnUpload').style.display = 'none'; //$('#BtnUpload').hide();
                    document.getElementById('BtnCancel').style.display = 'none';
                }
                else {
                    $('#fileUpload').removeAttr("style");
                    $('#BtnCancel').removeAttr("style");
                    $('#BtnUpload').hide();
                    $('#BtnCancel').hide();

                }

                return false;
            }
            var fileExtension = ['xlsx'];
            var fi = document.getElementById('fileUpload');
            var fileupload = $("#dvFilesDetails").empty();
            //var s = $(this).length;
            for (var i = 0; i <= fi.files.length - 1; i++) {
                var extension = fi.files.item(i).name.split('.').pop();      // THE NAME OF THE FILE.
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Error! The file uploaded is not an excel file. Re-upload the valid one(.xlsx)");
                    document.getElementById('BtnUpload').style.display = 'none'; //$('#BtnUpload').hide();

                    location.reload();
                }
                else {
                    $('#fileUpload').removeAttr("style");
                    $('#BtnCancel').removeAttr("style");
                    $('#BtnUpload').show();
                    $('#BtnCancel').show();

                }
                
            }
            if (fi.files.length > 0) {
                $("#dvFilesDetails").empty();
                var n = 1;
                var str = '<br/><font color="green">Following files .</font><br/><table border="1" width="100%" id="tblRemoveFilesDetails"><tr style="font-weight:bold;background-color:#D7DBDD;">' +
                    //'<td>Sno</td>'+
                    '<td>FileName</td><td>Remove</td></tr>';
                var TRTD = "";
                var TR = "";
                for (var p = 0; p < fi.files.length; ++p) {
                    TRTD += '<tr>' +
                        //'<td>' + n + '</td>' +
                        '<td>' + fi.files.item(p).name + '</td><td><button id="btnRemove' + p + '" name="' + fi.files.item(p).name + '" onclick="return RemoveFile(this);" class="btn btn-primary button button4">Remove</button></td></tr>';
                    n++;
                }
                TR = str + TRTD + "</table>";
                fileupload.append(TR);
            }
        });
        $('#upload').submit(function (e) {
            e.preventDefault(); // stop the standard form submission
            if ($("#fileUpload").val() != "") {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: new FormData(this),
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $("#dvErrorDetails").empty();
                        $("#dvWarningDetails").empty();
                        $("#dvUploadExcelDetails").empty();
                        var ErrorListValues = new Array();
                        var WarningListValues = new Array();
                        var UploadListValues = new Array();
                        var $Errorcontainer = $("#dvErrorDetails").empty();
                        var $Warningcontainer = $("#dvWarningDetails").empty();
                        var $Uploadcontainer = $("#dvUploadExcelDetails").empty();
                        if (data.errorList.length > 0) {
                            for (var i = 0; i < data.errorList.length; ++i) {
                                if (data.errorList[i].errorType == 'E' || data.errorList[i].errorType == 'F') {
                                    var ErrorList = {};
                                    ErrorList.FileName = data.errorList[i].fileName
                                    ErrorList.ErrorMessage = data.errorList[i].errorMessage
                                    ErrorListValues.push(ErrorList);
                                }
                                if (data.errorList[i].errorType == 'W' || data.errorList[i].errorType == 'WA') {
                                    var WarningList = {};
                                    WarningList.FileName = data.errorList[i].fileName
                                    WarningList.ErrorMessage = data.errorList[i].errorMessage
                                    WarningList.ErrorType = data.errorList[i].errorType
                                    WarningListValues.push(WarningList);
                                }
                                if (data.errorList[i].errorType == 'S') {
                                    var UploadList = {};
                                    UploadList.FileName = data.errorList[i].fileName
                                    UploadList.ErrorMessage = data.errorList[i].errorMessage
                                    UploadListValues.push(UploadList);
                                }
                            }
                            if (ErrorListValues.length > 0) {
                                var j = 1;
                                var str = '<br/><font color="green">Following files will not be  loaded. Check error message</font><br/><table border="1" width="100%"><tr style="font-weight:bold;background-color:#D7DBDD;"><td>Sno</td><td>FileName</td><td>Error Message</td></tr>';
                                var TRTD = "";
                                var TR = "";
                                for (var i = 0; i < ErrorListValues.length; ++i) {
                                    TRTD += '<tr><td>' + j + '</td><td>' + ErrorListValues[i].FileName + '</td><td><font color="green">' + ErrorListValues[i].ErrorMessage + '</font></td><tr>';
                                    j++;
                                }
                                TR = str + TRTD + "</table>";
                                $Errorcontainer.append(TR);
                            }
                            if (WarningListValues.length > 0) {
                                var k = 1;
                                var str = '<br/><font color="maroon"><span id="spnwarning">Following files are not loaded. Check The Warning message & click Yes/No for further actions.</span></font><br/><table border="1" width="100%" id="tblwarning"><tr style="font-weight:bold;background-color:#D7DBDD;"><td>Sno</td><td>FileName</td><td>Warning Message</td><td>Yes To Load</td><td>No To Cancel</td></tr>';
                                var TRTD = "";
                                var TR = "";
                                for (var m = 0; m < WarningListValues.length; ++m) {
                                    TRTD += '<tr><td>' + k + '</td><td>' + WarningListValues[m].FileName + '</td><td><font color="black">' + WarningListValues[m].ErrorMessage + '</font></td><td><button id="btnYes' + k + '" name="' + WarningListValues[m].FileName + '" message="' + WarningListValues[m].ErrorMessage + '" ErrorType="' + WarningListValues[m].ErrorType + '" onclick="return YesWarningFun(this);" class="btn btn-primary button button4">YES</button></td><td><button id="btnNo" onclick="NoWarningFun(this);" class="btn btn-primary button button4">No</button></td></tr>';
                                    k++;
                                }
                                TR = str + TRTD + "</table>";
                                $Warningcontainer.append(TR);
                            }
                            if (UploadListValues.length > 0) {
                                debugger;
                                var n = 1;
                                var str = '<br/><font color="green">Following files are successfully uploaded.</font><br/><table border="1" width="100%"><tr style="font-weight:bold;background-color:#D7DBDD;"><td>Sno</td><td>FileName</td><td>Message</td><tr>';
                                var TRTD = "";
                                var TR = "";
                                for (var p = 0; p < UploadListValues.length; ++p) {
                                    TRTD += '<tr><td>' + n + '</td><td>' + UploadListValues[p].FileName + '</td><td><font color="black">' + UploadListValues[p].ErrorMessage + '</font></td><tr>';
                                    n++;
                                }
                                TR = str + TRTD + "</table>";
                                $Uploadcontainer.append(TR);
                            }
                            $('#BtnUpload').hide();
                            $("#dvFilesDetails").empty();
                        }
                    },
                    error: function (xhr, error, status) {
                        console.log(error, status);
                        alert(error.responseText);
                    }
                });
            }
            else {
                alert("Error! Choose a file");
                return false;
            }
        });
    });

    function LoadWraningMessageFile(FileName, ErrorType) {

        $.ajax({
            url: '@Url.Action("LoadWarningMessageFile", "Upload")',
            type: 'POST',
            datatype: 'json',
            data: { FileName: FileName, ErrorType: ErrorType },
            success: function (result) {

                if (result != undefined && result != null) {
                    alert(result.msgerror[0].errorMessage);

                }
                else {
                    Alert("Invalid User!");
                    location.reload();
                }
            },
            failure: function (x, y, z) {
                alert("Failure!");
            },
            error: function (a, b, c) {
                alert("Error!");
            }
        });
    }
        function RemoveFile(obj) {

            if (confirm("Are you confirm to remove this file!")) {
                $(obj).closest('tr').remove();
                var FileName = $(obj).attr('name');
                var id = $(obj).attr('id');
                var index = id.replace("btnremove", "");

                document.getElementById('filesToDelete').value += (FileName + ",");
                $.getJSON("../Upload/DeleteFileFromFolder", { FileName: FileName },
                    function (result) {
                        if (result.msgerror == "Success") {

                            Filelist.push(result.SelectedFileName);
                            $(obj).closest('tr').remove();
                            $("#filesToDelete").val(Filelist);

                            var rowCount = $('#tblRemoveFilesDetails >tbody >tr').length;
                         
                            if (rowCount == 1) {
                                $("#BtnUpload").hide();
                                $("#dvFilesDetails").empty();
                            }
                            else {
                                $("#BtnUpload").show();
                            }
                        }
                        else {
                            alert(result.msgerror);
                            return false;
                        }

                    })
                    .error(function (error) {

                        alert(error.responseText);
                        console.log(error.statusCode);
                    });
            } else {
                return false;
            }
        }

        function YesWarningFun(obj) {
            debugger;
            var id = obj.id;
            var FileName = $(obj).attr('name');
            var Message = $(obj).attr('message');
            var ErrorType = $(obj).attr('ErrorType');
            if (confirm("Are you confirm to load this file!")) {

                LoadWraningMessageFile(FileName, ErrorType);
                $(obj).closest('tr').remove();
                var rowCount = $('#tblwarning >tbody >tr').length;
                console.log("Count Warning Rows after upload sucessfully :" + rowCount);
                if (rowCount == 1) {
                    $("#dvWarningDetails").empty();
                }

            } else {

                return false;
            }
        }
        function NoWarningFun(obj) {
            debugger;
            $(obj).closest('tr').remove();
            var rowCount = $('#tblwarning >tbody >tr').length;
            console.log("Count Warning Rows for function NoWarningFun() val :" + rowCount);
            if (rowCount == 1) {
                $("#dvWarningDetails").empty();
            }
        }
</script>
<!-- End plugin js for this page -->